<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a Sysadmin on a Security compagny at Paris. My job is to set up a mini datacenter from which we can monitor several customer networks throughout France from our HQ.
      I also manage some pentests on technologies and softwares we use and i develop softwares/scripts for my team.
      <!--<a class="underline-link" href="https://www.upstatement.com/" target="_blank">Upstatement</a> building things for the web with some awesome people. I recently graduated from
      <a class="underline-link" href="http://www.ccis.northeastern.edu/" target="_blank">Northeastern University</a> after completing three awesome six-month co-ops at
      <a class="underline-link" href="https://us.mullenlowe.com/" target="_blank">MullenLowe U.S.</a>,
      <a class="underline-link" href="https://starry.com/" target="_blank">Starry</a>, and
      <a class="underline-link" href="https://www.apple.com/music/" target="_blank">Apple Music</a>.-->
    </p>

    <p>
      I like to give myself small challenges in the form of projects. For example, recently I built a python script that allows with a Raspberry Pi 
      and a small second hand camera to read license plates and save them in a MySQL database. The source code is on my GitHub if you want.  &mdash;
    </p>

    <p>
      <strong>When I'm not in front of a computer screen which is rare</strong>, I like to do sports, go to gym, combat sports.
      I also like comic books, movies and doing activities with my friends like go-karting, bowling, billiards...
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
