<header class="intro">
  <h1 class="intro__hello">Hello!
    <span class="emoji wave-hand animated"></span>
  </h1>

  <h2 class="intro__tagline">I'm
    <span class="name">Fastiraz</span>, a student in Cybersecurity &amp; Sysadmin who loves to code.
    <span class="emoji technologist"></span>
  </h2>

  <h3 class="intro__contact">
    <span>Contact me on Discord </span>
    <span class="emoji pointer"></span>
    <span>
      <a href="mailto:Fastiraz@gmail.com" target="_blank" class="highlight-link">Fastiraz#8165</a>
    </span>
  </h3>
</header>
